H1
{
    font-family: "Times New Roman", Serif;
    font-style: oblique;
    font-size: 2em;
    text-indent: 30px;
}
H2
{
    font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
    font-size: 1em;
    text-indent: 35px;
}

A:link
{
    color: red;
    text-decoration: none;
}

A:visited
{
    color: green;
}

A:hover
{
    color: white;
    text-decoration: underline;
    background-color: blue;
}

A:active
{
    color: orange;
}
